[Unit]
Description=python-verisure to MQTT
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/path/to/verisure-mqtt
ExecStart=/usr/bin/python client.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
